.room-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "body";
}

@media screen and (min-width: 968px) {
  .room-screen {
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "sidebar body";
  }
  .room-sidebar {
    display: block !important;
  }
}
